.text {
    font-size: 200%;
    background-color: rgba(255, 255, 255, 0.781);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: solid rgba(236, 228, 228, 0.801);
    border-width: 10px;
    padding: 5%;
}

.link {
    color: white;
}