.songField {
    background-color: white;
    margin: 5% 0 0 0;
    border: solid;
    height: "auto";
    overflow: auto;
    content: "";
    display: block;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: solid rgba(236, 228, 228, 0.308);
    border-width: 10px;
}

.playButton {
    text-align: center;
    height: '2.5vh';
    font-size: '1.3vh';
    margin: 0 0 5% .5%;
    width: 99%;
}

@media only screen and (max-width: 450px) {
    .songField {
      overflow: auto;
      width: 100%;
      height: 23%;
      max-height: 200px;
      margin: 4% 0 0 0;
    }

    .playButton {
        width: 97%;
        margin: 0 1.5% 5% 1.5%;
    }
  }

