.songField {
    background-color: white;
    margin-top: 5%;
    border: solid;
    width: 100%;
    height: "auto";
    overflow: auto;
    content: "";
    display: block;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: solid rgba(236, 228, 228, 0.308);
    border-width: 10px;
}

